* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

header {
  background-color: white;
}

main {
  background-color: #1c1c1c;
}

main a {
  color: white;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

h1, h2 {
  color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 150px;
  height: 150px;
}

.logo {
  float: left;
}

header li {
  float: left;
  list-style-type: none;
  margin-left: 20px;
  margin-top: 50px;
}

header li:first-child {
  margin-left: 100px;
}

a {
  color: black;
  font-weight: bold;
}

header {
  margin-bottom: 30px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}